.project-container { 
  box-sizing: border-box;
  position: relative;
  height: fit-content;
  z-index: 10;
  border-left: 1px solid var(--text-alt-color);
  float:left;

  ul {
    margin: 0;
    padding: 20px 20px 0 20px;
  }
}

.main-project {
  box-shadow: rgba(80, 78, 78, 0.5) 3px 3px 20px;
}

.project {
  text-decoration: none;
  position: relative;
  max-width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;

  video {
    width: 100%;
  }

  img,
  video {
    // display: block;
    max-width: 100%;
    box-shadow: rgba(80, 78, 78, 0.5) 3px 3px 20px;
  }

  .project-data {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 100%;
    padding: 20px;
    background-color: var(--text-color);
    opacity: 0.8;

  
    * {
      color: var(--text-alt-color);
    }

    .expand-data {
      color: var(--secondary-color);
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline 1px;
    }
    
    .expand-data:hover {
      color: var(--secondary-color);
    }

    .project-gh {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 20px;
    }
  }
}

h2.project-title {
  animation: none;
  font-size: 50px;
  margin: 1% 0;
}

.brief-data,
.expand-data,
.project-gh {
  text-decoration: none;
  font-size: 20px;

  svg {
    margin-left: 5px;
  }
}


// hover project animation -- updown
.project:hover .project-data {
  animation: show-data .5s forwards;
  opacity: 0.8;
  transition: opacity .3s;
}

.project:not(:hover) .project-data {
  animation: remove-data .5s forwards;
}

@keyframes show-data {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}


@media only screen and (max-width: 1200px) {
  .project-container {
    grid-area: 2 / span 2;
  }
}

@media only screen and (max-width: 750px) {
  h2.project-title {
    font-size: 40px;
  }

  .brief-data,
  .expand-data,
  .project-gh {
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  .project-container {
    border-left: 0;
  }

  .project { 
    .brief-data {
      display: none;
    }
  
    .expand-data {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
    }

    .project-gh,
    .expand-data {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 500;
    }
  }
}