.page-container {
  width: calc(100% - 60px);
  position: absolute;
  left: 60px; 
  top: 0;
}

@media only screen and (max-width: 550px) {
  .page-container {
    position: absolute;
    left: 0;
    width: 100%;
  }
}