.parent {
  position: absolute;
  top: 0;
  left: 60px;
  height: 100%;
  overflow: scroll;
}

.child1 {
  background: green;
}

.child2 {
  background: blue;
}

.grandchild {
  position: sticky;
  top: 0;
  background: yellow;
}