.about-page {
  display: grid;
  grid: auto / 2fr 3fr;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 0;

  .img-container {
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 70%;
    height: auto;
    min-width: 250px;
    max-width: 350px;
    border-radius: 50%;
    overflow: hidden;
    display:block;

    .profile-pic {
      object-fit: cover;
      scale: 1.5;
      object-position: -10px -15%;
      width: 100%;
      height: 100%;
    }
  }

  .text-zone {
    max-width: 900px;
    display: block;

    h1 {
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      font-size: 53px;
      font-family: "Coolvetica";
      color: var(--primary-color);
      font-weight: 400;
      position: relative;
    }

    h1:before {
      content:'A Bit ';
    }
    p {
      font-size: 14px;
      color: var(--text-color);
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
    }

    .skills {
      display: grid;
      grid: auto / 1fr 1fr;
    }

    .skill-section {
      font-weight: 500;
      font-size: 16px;
      color: var(--secondary-color);
      font-family: sans-serif;
      min-width: fit-content;

      p {
        font-weight: 300;
        font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about-page {
    overflow: scroll;
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .about-page .text-zone .skills {
    grid: auto / 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .about-page {
    .img-container {
      margin-top: 60px;
    }
    .text-zone {
      h1:before {
        content: '';
      }
    }
  }
}
