@use '../../assets/styles/colors.scss' as c;

.home-page {  
  margin: auto;
  display: grid;
  grid: auto / 4fr 6fr;
  height: 100%;
  overflow: scroll;

  .text-zone {
    position: sticky;
    top: 0;
    min-height: fit-content;
    height: 100vh;
    width: 100%;
    align-content: center;
    padding: 5%;
    box-sizing: border-box;

    > h1 { 
      width: 255px;
    }

    .flat-button {
      border: 1px solid c.$light-accent;
      color: c.$light-accent;
      font-family: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      margin-top: 25px;
      float: left;
      white-space: nowrap;
    
      &:hover {
        background: c.$light-accent;
        color: c.$light-text;
      }
    }
  }

  h1 {
    color: c.$light-primary;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
  }

  h2 {
    color: c.$light-text;
    margin-top: 20px;
    font-weight: 400px;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;

    > span::after {
      content: " / ";
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home-page .text-zone {
    position: relative !important;
    grid-area: 1 / span 2;
    height: 90vh !important;
  }
}

@media only screen and (max-width: 550px) {
  .home-page .text-zone {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
      width: 250px;
      
      > span::after {
        content: " ";
      }
    }
  }
}