.home-page {  
  margin: auto;
  display: grid;
  grid: auto / 4fr 6fr;
  height: 100%;
  overflow: scroll;

  .text-zone {
    position: sticky;
    top: 0;
    min-height: fit-content;
    height: 100vh;
    width: 100%;
    align-content: center;
    padding: 5%;
    box-sizing: border-box;

    > h1 { 
      width: 255px;
    }

    .flat-button {
      color: #ffd700;
      font-family: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
    
      &:hover {
        background: #ffd700;
        color: #333
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
  }

  h2 {
    color: #adadad;
    margin-top: 20px;
    font-weight: 400px;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    > span::after {
      content: " / ";
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home-page .text-zone {
    position: relative !important;
    grid-area: 1 / span 2;
    height: 90vh !important;
  }
}

@media only screen and (max-width: 550px) {
  .home-page .text-zone {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
      width: 250px;
      
      > span::after {
        content: " ";
      }
    }
  }
}