@use '../../assets/styles/colors.scss' as c;

.contact-page {
  display: grid;
  grid: auto / 1fr 1fr;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 0;

  .contact-form {
    min-width: 350px; 
    max-width: 600px;
    padding: 40px;
    background-color: c.$light-text-alt;
    width: 100%;
    box-sizing: border-box;

    ul {
      padding: 0;
      margin: 0;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 10px;
        display: block;
      }
    }

    h1 {
      color: c.$light-text;
    }

    li.half {
      width: 49%;
      float: left;
      margin-left: 2%;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      border: 0;
      background: c.$light-primary;
      height: 50px;
      font-size: 16px;
      color: c.$light-text-alt;
      padding: 0 20px;
      box-sizing: border-box;

      &:focus {
        border: none;
        background: c.$light-secondary;
      }

      &::placeholder {
        color: c.$light-text-alt
      }
    }

    textarea {
      padding: 20px;
      min-height: 150px;
    }

    .flat-button {
      color: c.$light-accent;
      background: 0 0;
      font: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid c.$light-accent;
      float: right;
      border-radius: 4px;
    }
  }

  .text-zone {
    padding: 40px;
    color: c.$light-text;
    font-family: sans-serif;
    box-sizing: border-box;
    justify-self: center;

    h1 {
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      font-size: 53px;
      font-family: "Coolvetica";
      color: c.$light-primary;
      font-weight: 400;
    }
    
    .name {
      font-size: 24px;
      font-weight: 900;
    }

    .email {
      font-size: 18px;
      font-weight: 500;
    }

    .links p {
      font-size: 16px;
      margin-top: 50px;
    }

    .links-container {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        width: fit-content;
        gap: 20px;

        > * {
          font-size: 35px;
          flex: 1;
        }
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          a {
            color: c.$light-accent;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .contact-page {
    overflow: scroll;
    grid: 1fr / max(90%, 350px);   

    .text-zone {
      justify-self: start;
    }
  }
}

@media only screen and (max-width: 550px) {
  .contact-page {
    padding: 60px 0;
  }
}