.about-container {
  --gap: 3rem;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: green;
  padding: 7rem 3rem;
}

.about-container > * {
  padding: 0 1rem;
}

.self {
  background-color: red;
  width: 350px;
  min-width: 250px;
  aspect-ratio: 3/4;
  flex: 0 0 auto;
}

.self-info {
  background-color: lightgreen;
  min-width: 250px;
  width: 40%;

  font-size: 1.5rem;
}