.about-container {
  --gap: 5em;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: green;
  padding: 2rem;
}

.self {
  background-color: red;
  width: 300px;
  aspect-ratio: 3/4;
  flex: 0 0 auto;
}

.self-info {
  background-color: lightgreen;
  min-width: 350px;
  width: 40%;

  font-size: 1.5rem;
}