.intro {
  height: calc(100vh - 4.75rem);
}

.header {
  position: absolute;
  display: inline-flex;
  width: 100%;
  
  font-size: 1.5rem;
}

.intro p {
  display: flex;
  height: inherit;

  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: bold;

  padding: 0 2em;
  
  color: var(--font-color);
}