body {
  --primary-background-color: white;
  --secondary-background-color: lightgrey;
  --font-color: black;
  --animation-timing: 200ms ease-in-out;

  background-color: var(--primary-background-color);
  color: var(--font-color);
}

@media only screen and (min-width: 800px) {
  .nav-selection {
    display: flex;
    gap: var(--gap, 1rem)
  }
}

/* for small/med screens */
@media only screen and (max-width: 800px) {
  .intro > p { 
    padding: 0 1em;
  }

  /* collapse nav to hamburger */
  .nav-selection {
    position: absolute;
    flex-direction: column;
    right: 0;
    width: 80%;
    height: calc(100vh - 4.75rem);
    margin-top: calc(4.75rem);
    background-color: hsla(0, 100%, 1000%, 95%);

    transition: translate var(--animation-timing);
    translate: 100%;
  }

  .nav-selection>li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    text-decoration: none !important;
  }

  .nav-selection>li:hover {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
  }

  .active {
    text-decoration: none !important;
  }

  .nav-selection>li {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
  }

  .nav-hamburger-menu {
    display: flex;
  }

  /* change size of active panel? */
  #projects {
    padding-bottom: 3rem;
  }
  
  .project-sample {
    width: 60%;
  }

  .project-sample.active-panel {
    scale: 1.4;
  }

  .carousel-btns {
    margin-top: 9rem;
  }

  .skills-container {
    padding: 1rem;
  }

  .item {
    height: 100px;
    width: 100px;
  } 
}


.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

body,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}