#projects {
  --transiton-time: .5s;

  position: relative;
  /* background-color: lightpink; */
  flex-direction: column;
  overflow-x: clip;
  height: max-content;
  padding: 2rem;
  margin-bottom: 3rem;
}

.projects-header {
  font-size: 2.5rem;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

.carousel-container { 
  --gap: 0;
  position: relative;
  padding: 6rem 0;
  flex-grow: 1;
}

.carousel {
  --panel-index: 0;
  position: relative;
  width: 100%;
}

.carousel-content {
  width: 100%;
}

.project-sample {
  position: absolute;
  background-color: lightseagreen;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  margin-left:auto;
  margin-right: auto;

  width: max(400px, 33.33%);
  aspect-ratio: 4/3;

  transition: all var(--transiton-time) ease-in-out;
}

.project-sample.active-panel {
  background-color: lightgrey;
  scale: 1.15;
  filter: drop-shadow(0 0 2rem black);
  border-radius: 0.5rem;

  transition: all var(--transiton-time) ease-in-out;
} 

.carousel-btns {
  justify-content: center;
  align-items: end;
  height: inherit;
  margin-top: 7rem;
}

.carousel-btn {
  z-index: 10;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.carousel-btn {
  padding: 1rem 2rem;
  margin: 0 2rem;
  background: none;
  border: none;
}

.carousel-btn:disabled {
  color: black; 
}

.carousel-btn:focus {
  border: none;
  outline: none;
}
