#projects {
  --transiton-time: .5s;

  position: relative;
  flex-direction: column;
  overflow-x: clip;
  height: max-content;
  padding: 1rem;

  background-color: var(--bg1);
}

.projects-header {
  font-size: 2.5rem;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

.carousel-container { 
  --gap: 0;
  position: relative;
  padding: 4rem 0;
  padding-bottom: 7rem;
  flex-grow: 1;
}

.carousel {
  --panel-index: 0;
  position: relative;
  width: 100%;
}

.carousel-content {
  width: 100%;
}

.project-sample {
  overflow: clip;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  margin-left:auto;
  margin-right: auto;
  border-radius: 0.5rem;

  width: max(400px, 33.33%);
  aspect-ratio: 4/3;

  transition: all var(--transiton-time) ease-in-out;
}

.project-sample.active-panel {
  scale: 1.15;
  filter: drop-shadow(0 0 2rem black);
  border-radius: 0.5rem;

  transition: all var(--transiton-time) ease-in-out;
} 

.project-main {
  position: relative;
}

.project-main > img, .project-main > video {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.hover-active { 
  display: none;
}

.active-panel:not(.scrolling):hover > .project-main > img,
.active-panel:not(.scrolling):hover > .project-main > video { 
  display: block;
  filter: brightness(50%);
}

.active-panel:not(.scrolling):hover > .project-main > .hover-active {
  display: block
}

.project-title { 
  position: absolute;
  top: 1rem;
  left: 1rem;

  font-size: 2rem;
  font-weight: bold;
}

.project-main-buttons { 
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.project-main-buttons > * { 
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.949);
}

.project-main-buttons > button { 
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0);
}

.carousel-btns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
}

.carousel-btn {
  z-index: 10;
  font-size: 2rem;
  cursor: pointer;
  height: auto;
  background-color: rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  margin: 0 2rem;
  background: none;
  border: none;
  translate: 0 175%;
}

.carousel-btn:disabled {
  color: black; 
}

.carousel-btn:focus {
  border: none;
  outline: none;
}

.demo-container { 
  position: relative;
  display: none;
  background-color: white;
  height: 60vh;
}

/* use some JS? maybe to put a linear gradient on ends if content overflowing */
.project-demo {
  --gap: 0;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: lightgrey;

  overflow-y: hidden;
}

.demo-close {
  z-index: 100;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 1rem;

  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.project-info {
  flex: 1 0 auto;
  height: 90%;
  width: max(30%, 320px);
  font-size: 1.5rem;
  padding: 1rem;
}

.project-media { 
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 0 0 auto;
  height: 90%;
  padding: 0 1rem;
}

.project-media > * {
  height: 100%;
  width: auto
}