#skills {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  background-color: var(--bg2);
}

.skills-header {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}

.skills-container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.item {
  --gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 150px;
  aspect-ratio: 1;
} 

.item > img { 
  width: 80%;
}

.item-info {
  width: fit-content;
  height: auto;
  text-align:center;
  font-size: 1.25rem;
}