.nav-bar {
  background: var(--background-color);
  width: 60px;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 350px;
  border-right: 1px solid var(--text-alt-color);


  --bar-width: 25px;
  --bar-height: 5px;
  --hamburger-gap: 3px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 40px;
      height: auto;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: var(--text-color);
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--accent-color);

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: var(--accent-color);
      }
    }
  }

  ul {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 22px;
        line-height: 16px;

        &:hover svg {
          color: var(--accent-color);
        }
      }
    }
  }

  span {
    display: none;
  }
}

.nav-hamburger-menu {
  padding: 5px;
  --x-width: calc(var(--hamburger-height) * 1.4142135637);

  display: none;
  flex-direction: column;
  gap: var(--hamburger-gap);

  position: absolute;
  z-index: 100;
  margin: 0;

  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;

  background-color: inherit;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
}

.nav-hamburger-menu::before,
.nav-hamburger-menu input,
.nav-hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--text-color);
  border-radius: 9999px;
  transform-origin: left center;
}

.nav-hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.nav-hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.nav-hamburger-menu:has(input:checked) {
  width: var(--hamburger-height)
}

.nav-hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.nav-hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.nav-hamburger-menu:has(input:checked) + .nav-icons {
  display: block;
  translate: 100%;
}


@media only screen and (max-width: 550px) {
  .nav-bar {
    width: 100%;
    height: 60px;
    position: sticky;
    min-height: fit-content;
    display: flex;

    background-color: var(--background-color);
    border-left: none;
    border-bottom: 1px solid var(--text-alt-color);

    .nav-icons {
      margin-top: 61px;
      position: absolute;
      background-color: var(--background-color);
      width: 70%;
      left: calc(-70% - 1px);
      height: calc(100vh - 6px);
      opacity: 0.95;
      border-right: 1px solid var(--text-alt-color);
      translate: 0;
      transition: translate 0.5s ease-in-out;

      .logo {
        display: none;
      }
  
      > nav,
      > ul {
        height: fit-content;
        margin: 0;
        padding: 0;
        top: 0;
        position: relative;
  
        a {
          &::after {
            display: none;
          }
        }
  
        * {
          text-decoration: none;
          color: var(--text-color);
        }
  
        svg {
          display: none;
        }
  
        span {
          display: block;
          height: 51px;
          align-content: center;
        }
  
        li {
          > a {
            padding: 0;
            margin: 0;
          }
        }
      }
    }  
  }

  .nav-hamburger-menu {
    display: flex;
  }
}

.switch {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%)
}