$light-text: #2b3540;
$light-text-alt: #e5e7eb;
$light-background: #f8fafc;
$light-primary: #5585b4;
$light-secondary: #a4bddb;
$light-accent: #6e9cc9;

$dark-text: #bfc9d4;
$dark-alt: #191f26;
$dark-background: #0f141a;
$dark-primary: #4b7aaa;
$dark-secondary: #243d5b;
$dark-accent: #366391;