.initial {
  display: none;
}

.project-info-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.project-info {
  position: sticky;
  top: 0;
  left: 100%;
  width: 100%;
  background-color: var(--background-color);
  box-sizing: border-box;
  overflow: scroll;
  overscroll-behavior: none;
  height: 100vh;
  z-index: 100;
}

// contains exit buttons, project info data, github link
.info-grid {
  display: grid;
  grid: [start] auto 1fr auto [end] / 1fr 1fr;
  font-size: 16px;

  p {
    padding: 0;
    margin: 0;
  }

  > .project-return-item {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    color: var(--text-color);
  
    * {
      opacity: 0.9;
      font-size: 30px;
      padding: 10px;
      cursor: pointer;
    }
  }

  > .project-data-item {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    
    > * {
      color: var(--text-color);
      padding: 0 20px;
    }
  }

  .project-demo-link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;

    &:before {
      color: var(--text-color);
      content: 'Demo: '; 
    }
  }

  > .project-gh-item {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: var(--text-color);
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-alt-color);
    width: 100%;
    text-align: center;
    box-sizing: border-box;

    position: sticky;
    bottom: 0;

    span:hover {
      text-decoration: underline;
    }
    
    svg {
      margin-left: 5px;
    }
  }
}


.data-grid-container {
  display: grid;
  grid: auto / 1fr 1fr;
  width: 100%;
  gap: 16px;

  > .item-sm {
    align-self: center;
    justify-self: center;
    > * {
      width: 100%;
      border-radius: 10px;
    }
  }

  > .item-lg {
    grid-column: 1 / span 2;
  }
}


// side bar info animation
.side-open {
  animation: slideIn .5s forwards;
}

.side-close {
  animation: slideOut .5s forwards;
}

@keyframes slideIn {
  0% {
    display: none;
    transform: translateX(100%);
  }

  100% {
    display: grid;
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    display: grid;
    transform: translateX(0%);
  }
  100% {
    display: none;
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 1200px) {
  .project-info {
    margin-top: min(-100vh, -100%);
  }
}

@media only screen and (max-width: 550px) {
  .project-info {
    height: calc(100svh - 60px);
    top: 60px;
  }

  .item-sm {
    grid-column: 1 / span 2;
  }
}

.App[data-theme="dark"] img,
.App[data-theme="dark"] video {
  filter: brightness(0.8);
}